@charset "utf-8";
/* 주조색 rgb(255, 182, 193) */
/* 보조색  */
* {
  padding: 0;
  border: none;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: #333;
}
body {
  background-color: #fff;
}

body {
  width: 100%;
  height: 950px;
  display: flex;
  flex-direction: column;
}
body > div {
  display: flex;
  flex-direction: row;
}

.header {
  width: 250px;
  background-color: rgb(255, 182, 193);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  width: 250px;
}

.menu {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu a {
  display: flex;
  width: 150px;
  padding: 10px;
  justify-content: center;
  background-color: rgb(165, 118, 125);
  border: rgb(206, 123, 136) 2px solid;
}
.submenu {
  left: 170px;
}
