@charset "utf-8";

*{
	/*기본 CSS 리셋*/
	margin:0; 
	padding:0; 
	box-sizing:border-box;
}
.inner{
	width:1200px;
	margin:auto;/*블록 요소 가운데 정렬*/
	display:flex;/*자식 요소 나열*/
	height:800px;
}
header{
	width:300px;
	background:#6a5ea6;
}
.con{
	width:900px;
	background:#fc6;
}
section{
	height:300px;
	background:tomato;
}
.con1{
	background:#369;
	height:200px;
}
.con2{
	background:#47b749;
	height:200px;
}
footer{
	background:#333;
	height:100px;		
}