@charset "utf-8";

/* 가상 클래스 선택자: 링크에 마우스를 올렸을 때 밑줄 제거 */
a:hover {
	text-decoration:none;
}

/* 다중 선택자: 여러 요소에 동일한 스타일 적용 */
h1,.highlight {
	background-color:yellow;
	padding:10px;
}

/* 다중 선택자, 가상 클래스 선택자  */
button:hover, button:focus {
	background-color:green;
	color:white;
}

/* 가상 클래스 선택자 : 첫 번째 선택자 */
li:first-child {
	font-weight:bold;
	color:red;
}

/* 가상 요소 선택자 : 특정 부분인 첫 번째 줄 선택 */
p::first-line{
	color:blue;
}

/* 결합 선택자 : 태그와 클래스를 결합하여 선택*/
li.impo{
	text-decoration:underline;
}