@charset "utf-8";

/* 전체 선택자: 모든 요소 선택 */
*{
	text-decoration:underline;/*밑줄*/
}

/* ID 선택자: 특정 아이디 선택(#id명) */
#title{
	color:red;
}

/* 요소 선택자: 특정 요소 선택 */
p{
	background-color:yellow;
}

/* Class 선택자: 특정 Class 선택(.class명) */
.blue{
	color:blue;
}