@charset "utf-8";

* {
  margin: 0;
  border: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  color: #333;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(130, 128, 221, 0.384);
}
.headerSub {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logo {
  width: 300px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.logo img {
  width: 300px;
  position: relative;
  top: 25px;
}

.menu {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  top: 53px;
  right: 50px;
  z-index: 10;
  font-weight: bold;
  font-size: 20px;
}
.mainMenu {
  display: flex;
  flex-direction: row;
}
.mainMenu > * {
  width: 100px;
  padding: 10px;
  transition: 0.3s;
}
.mainMenu > *:hover {
  background-color: rgb(130, 128, 221);
}
.subMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 47px;
}
.subMenu div {
  width: 120px;
  display: flex;
  flex-direction: column;
}
.subMenu a {
  padding: 10px;
  transition: 0.3s;
}
.subMenuBack {
  position: absolute;
  background-color: rgb(130, 128, 221);
  width: 1200px;
  height: 188px;
  z-index: -1;
  top: 47px;
  right: -50px;
}
.subMenu,
.subMenuBack {
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.menu:hover > .subMenu,
.menu:hover > .subMenuBack {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.menu:hover > .subMenuBack {
  height: 188px;
}
.subMenu a:hover {
  background-color: #fff;
}
.subMenu:has(#Ms1:hover) ~ .mainMenu #M1 {
  background-color: rgb(130, 128, 221);
} /* Ms2:hover → M2 강조 */
.subMenu:has(#Ms2:hover) ~ .mainMenu #M2 {
  background-color: rgb(130, 128, 221);
}

/* Ms3:hover → M3 강조 */
.subMenu:has(#Ms3:hover) ~ .mainMenu #M3 {
  background-color: rgb(130, 128, 221);
}

/* Ms4:hover → M4 강조 */
.subMenu:has(#Ms4:hover) ~ .mainMenu #M4 {
  background-color: rgb(130, 128, 221);
}

.slide {
  width: 1200px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.slide img {
  width: 100%;
  position: absolute;
}
.S1 {
  animation: fade1 8s infinite;
}
.S2 {
  animation: fade2 8s infinite;
}
.S3 {
  animation: fade3 8s infinite;
}
@keyframes fade1 {
  00% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  00% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  00% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content {
  width: 1200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content > div {
  width: 400px;
}
.content h2 {
  padding: 10px;
}
input {
  display: none;
}
.C1C2 {
  position: relative;
}
.Ctitle {
  width: 120px;
  text-align: center;
  border-radius: 20px 20px 0 0;
}
.C1title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: aliceblue;
}
.C2title {
  position: absolute;
  top: 0;
  left: 120px;
  background-color: antiquewhite;
}
.Cbody {
  position: absolute;
  top: 52px;
  left: 0;
  width: 360px;
  height: 114px;
  padding: 12px 20px;
}
.C1body {
  border-radius: 0 20px 20px 20px;
  background-color: aliceblue;
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.C1body li {
  display: flex;
  border-bottom: #333 1px solid;
}
.C1body li > * {
  display: flex;
  gap: 30px;
  align-items: baseline;
}
.C1body p {
  font-size: 12px;
}
.C2body {
  border-radius: 20px 20px 20px 20px;
  background-color: antiquewhite;
  z-index: -1;
}
#C2:checked ~ .C2body {
  z-index: 10;
}
.C2body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.C2body img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  border: #4340ff 3px dashed;
}

/* ======================== */
.C3 {
  padding-bottom: 10px;
}
.C3 p {
  position: relative;
  background-color: rgb(90 43 226 / 54%);
  height: 138px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #eee;
  font-weight: bold;
}
.C3 img {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.c4list {
  display: flex;
  height: 148px;
  align-items: center;
  justify-content: space-evenly;
}
.c4list a {
  width: 100px;
  height: 100px;
  background-color: rgb(130, 128, 221);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #eee;
}

.footer {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(73, 72, 122);
}
.footer * {
  color: #eee;
}

.footerSub {
  display: flex;
  width: 1200px;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footerR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.Dmenu {
  display: flex;
  justify-content: space-evenly;
}

.vertical {
  width: 1px;
  background-color: #eee;
}

#modal-toggle {
  display: none;
}

.modalBg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000028;
  z-index: 100;
  align-items: center;
  justify-content: center;
}
#modal-toggle:checked ~ .modalBg {
  display: flex;
}

.modal {
  background-color: #fff;
  border: #333 2px solid;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modalImg {
  width: 400px;
}
.modal h2 {
  width: 100%;
  text-align: center;
}
.modal div {
  width: 100%;
  text-align: right;
}
.modal label {
  padding: 5px 10px;
  border-radius: 5px;
  border: #333 1px dashed;
  box-shadow: 0 0 7px;
}
