@charset "utf-8";

.box1{
	background:#fc6;
}
.box1 p{
	background:#fab62d;/*블록요소 p 배경색이 전체 채워짐*/
}
.box1_2{
	background:#fc6;
}
.box1_2 p{
	background:#fab62d;
	display:inline-block;/*블록요소 p를 인라인 요소 변경시 가로로 나열*/
	width:150px;/*인라인블록요소 width 설정 가능*/
	height:50px;/*인라인블록요소 height 설정 가능*/
}
.box1_3{
	background:#fc6;
}
.box1_3 p{
	background:#fab62d;
	display:inline;/*블록요소로 인라인 요소 변경시 가로로 나열*/
	width:150px;/*인라인요소 width 설정 불가능*/
	height:50px;/*인라인요소 height설정 불가능*/
}
.box2{
	background:#fe9191; 
}
.box2 span{
	background:#fcc;/*인라인요소로 가로로 나열, width,height 설정 불가능*/
}
.box2_1{
	background:#fe9191; 
}
.box2_1 span{
	background:#fcc;
	display:block;/*블록요소 변경*/
	width:150px;/*widht 설정 가능*/
	height:50px;/*height 설정 가능*/
}
.box3{
	background:#fc6;
	margin-top:10px;
	height:50px;
}
.box3 span{
	background:#fcc;
	height:50px;
	width:150px;
	display:none;/*안보이게 숨김*/
}
.box3:hover span{/*.box3에 마우스오버시 span태그*/
	display:inline-block;/*보임 , display:block으로 넣어도 보세요!*/
}
